<header class="header" id="myTopnav" [class.responsive]="shownavigtionmenu">
    <div class="navigation-list" >
        <div class="icon" (click)="viewlist()">
            <div class="dropdown-button perfect-center f30">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="all-categories"> All categories</div>
        <div class="add-new-categories">Add new categories</div>
        <div class="temp-categories">tempory categories</div>
    </div>
</header>
