<header class="header" [class.responsive]="shownavigtionmenu">
    <div class="navigation-list" >
        <div class="icon" (click)="viewlist()">
            <div class="dropdown-button perfect-center f30">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="nav-link p-2" [routerLink]="['/']"> All categories</div>
        <div class="nav-link p-2" [routerLink]="['/addCats']" >Add new categories</div>
        <div class="nav-link p-2" [routerLink]="['/tempcats']" >temporary categories</div>
    </div>
</header>
