
<!-- attributes list to be appeared -->
<div class="listsection">
  <div class="main_wrapper" *ngFor="let attribute of attributes"> 
      <div class="image-container">
              <div class="perfect-center">
                  <img src="/assets/images/coutloot-logo.png"  class="image-wrapper" alt="">
              </div>
          </div>
      <div class="image-details">
          <div class="tittle"> {{ attribute.attributeName }}  </div>
          <div class="shortdesc">{{ attribute.attributeType }}  </div>
          <div class="longdesc"></div>
          <div class="tittle"></div>
      </div> 
  </div>  
</div>
<!-- attributes list to be appeared -->
